In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# drop values from series
cars = Series(['BMW', 'Mercedes', 'Audi'], index=['a', 'b', 'c'])
print(cars)

a         BMW
b    Mercedes
c        Audi
dtype: object

In [3]:
cars = cars.drop('a')
print(cars)

b    Mercedes
c        Audi
dtype: object

In [4]:
# drop rows from DataFrame
# drop columns from DataFrame

cars_df = DataFrame(np.random.randn(9).reshape(3,3), index=['BMW', 'Mercedes', 'Audi'], columns=['test1', 'test2', 'test3'])
print(cars_df)

             test1     test2     test3
BMW       0.382750  0.665945 -0.147853
Mercedes -0.878567  0.914817 -0.269744
Audi      0.743848  1.047857 -0.548366

In [5]:
cars_df = cars_df.drop('BMW') #removes row (BMW), drop has a second parameter i.e. axis which is set to 0 for row
print(cars_df)

             test1     test2     test3
Mercedes -0.878567  0.914817 -0.269744
Audi      0.743848  1.047857 -0.548366

In [6]:
cars_df = cars_df.drop('test1', axis=1)
print(cars_df)

             test2     test3
Mercedes  0.914817 -0.269744
Audi      1.047857 -0.548366