In [1]:
# Python Libraries to install for reading excel files
!pip install xlrd
!pip install openpyxl

WARNING: You are using pip version 19.2.3, however version 21.2.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: xlrd in c:\users\kiit\appdata\local\programs\python\python38\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\kiit\appdata\local\programs\python\python38\lib\site-packages (3.0.7)

WARNING: You are using pip version 19.2.3, however version 21.2.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: et-xmlfile in c:\users\kiit\appdata\local\programs\python\python38\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd

In [3]:
# a xlsx file can have multiple worksheets as opposed to csv file

In [4]:
excelfile = pd.ExcelFile('cab.xlsx')

In [5]:
df = excelfile.parse('cab_data') #parse - a function used to import a sheet of a workbook

In [6]:
df

  Company  FleetSize  Revenue  Expense   Profit
0    Uber       6000      100        80      20
1    Lyft      50000       90        50      40
2    Grab      40000       80        60      20
3   Gojek      30000       70        40      30
4     Ola      20000       60        55       5