In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# reindexing in series - reindex() method
s1 = Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])
print(s1)

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
s1 = s1.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
print(s1)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [5]:
# reindexing in series - reindex() method with fill_value
s1 = s1.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'], fill_value = 100)
print(s1)

a      1.0
b      2.0
c      3.0
d      4.0
e      NaN
f      NaN
g    100.0
dtype: float64

In [6]:
# reindexing in series - forwardfill
cars = Series(['Audi', 'Mercedes', 'BMW'], index=[0,4,8])
print(cars)

0        Audi
4    Mercedes
8         BMW
dtype: object

In [7]:
new_index = range(12) # creates list of numbers from 0 to 11
cars = cars.reindex(new_index, method="ffill") # this will create a new a new array from indexes 0 - 11
print(cars)

0         Audi
1         Audi
2         Audi
3         Audi
4     Mercedes
5     Mercedes
6     Mercedes
7     Mercedes
8          BMW
9          BMW
10         BMW
11         BMW
dtype: object

In [8]:
# reindexing in DataFrames
df1 = DataFrame(np.random.randn(25).reshape(5,5), index=['a','b','c','d','e'], columns=['c1','c2','c3','c4','c5']) #creates numpy array of 25 elements
print(df1)

         c1        c2        c3        c4        c5
a  0.509376 -3.959918 -0.374882 -0.229506 -0.912425
b  0.355620  1.132958 -0.132881  2.455433 -1.680581
c -1.806577 -0.553476 -0.923954  0.401338 -0.202096
d -0.475819 -1.722259 -0.526638  1.155234  1.034266
e -2.307182  0.156369 -0.636350 -0.596146  0.333618

In [9]:
df1=df1.reindex(index=['a', 'b', 'c', 'd', 'e', 'f'], columns=['c1','c2','c3','c4','c5','c6'])
print(df1)

         c1        c2        c3        c4        c5  c6
a  0.509376 -3.959918 -0.374882 -0.229506 -0.912425 NaN
b  0.355620  1.132958 -0.132881  2.455433 -1.680581 NaN
c -1.806577 -0.553476 -0.923954  0.401338 -0.202096 NaN
d -0.475819 -1.722259 -0.526638  1.155234  1.034266 NaN
e -2.307182  0.156369 -0.636350 -0.596146  0.333618 NaN
f       NaN       NaN       NaN       NaN       NaN NaN