In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
series1 = Series([100, 200, 300], index = ['a', 'b', 'c'])
print(series1)

a    100
b    200
c    300
dtype: int64

In [4]:
# Access single element of series
series1['a']

100

In [6]:
series1['b']

200

In [8]:
# access multiple elemnts of series
series1[['a', 'c']]

a    100
c    300
dtype: int64

In [12]:
# using nuumerical indexes
series1[0] # you can still use the default index values to access the elements}

100

In [13]:
series1[2]

300

In [14]:
# conditional indexes
series1[series1>150]

b    200
c    300
dtype: int64

In [15]:
series1[series1==200]

b    200
dtype: int64

In [17]:
# accessing one or more column data from a dataframe
df1 = DataFrame(np.arange(9).reshape(3,3), index=['car', 'bike', 'cycle'], columns = ['c1', 'c2', 'c3'])
print (df1)

       c1  c2  c3
car     0   1   2
bike    3   4   5
cycle   6   7   8

In [18]:
df1['c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int32

In [20]:
df1[['c1', 'c3']]

       c1  c3
car     0   2
bike    3   5
cycle   6   8

In [21]:
# boolean operations in Dataframe
df1 > 5

          c1     c2     c3
car    False  False  False
bike   False  False  False
cycle   True   True   True

In [22]:
# using the Dataframe.loc[] attribute
df1.loc['car']

c1    0
c2    1
c3    2
Name: car, dtype: int32

In [23]:
df1.loc[:, 'c1']

car      0
bike     3
cycle    6
Name: c1, dtype: int32

In [24]:
df1.loc['bike', 'c1']

3